[submodule "library/SimpleRKNN"]
	path = library/SimpleRKNN
	url = https://github.com/Piorosen/SimpleRKNN
[submodule "library/ArmCL"]
	path = library/ArmCL
	url = https://github.com/Piorosen/ComputeLibrary-Executer
