[submodule "module/SimpleRKNN"]
	path = module/SimpleRKNN
	url = https://github.com/Piorosen/SimpleRKNN
[submodule "module/args"]
	path = module/args
	url = https://github.com/Taywee/args
[submodule "module/tensorflow"]
	path = module/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "module/flatbuffers"]
	path = module/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "module/abseil-cpp"]
	path = module/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "module/armnn"]
	path = module/armnn
	url = https://github.com/ARM-software/armnn
[submodule "link"]
	path = link
	url = https://github.com/Piorosen/HeterogeneousPU_Module
